<!-- Vishal's code -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

</head>

<body>
    <div style="height: 450px;vertical-align: middle;background-image: url(http://www.hintstoday.com/wp-content/uploads/2016/01/1291.jpg); background-repeat: no-repeat ;background-position: 50% 50% ;background-size: 100% ;background-color: transparent; background-size: cover;">

    <p class="iec-heading"> <u> Independent Educational Consultants </u> </p>

    </div>

    <div>
    <p class="iec-sub-heading"> Integrate <span class="purple-text"> Campus Owl </span>Into Your College </p>
    <p class="iec-sub-heading">  Consulting Practice </p>

        <ul class="iec-text">
            <li> Give your clients access to a vast network of current college students </li>
            <li> Expand your ability to help with your client's college decision </li>
            <li> Track your clients' use of Campus Owl through your account page </li>
        </ul>
    </div>

    <br> <br>


    <div>
        <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1"> </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="iec-sub-heading"> Flex Plan </p>

            <p class="iec-text">
                The Flex Plan is the most popular option for IECs. With the Flex Plan, you can integrate Campus Owl into your own practice without any upfront payment. Each session is $29.
            </p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <br> <br> <br> <br> <br> <br>
            <button class = "btn btn-lg iec-button"> CREATE A FREE ACCOUNT </button>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1"> </div>
    </div>
    <br> <br> <br> <br> <br>



    <div style="height: 0px; overflow: hidden;"></div></div>



                </td>           </tr>
        </tbody>
    </table>
</div></div></div></div>
        </div>
    </div>
</div>
</div>
<div style="clear:both;"></div><script type="text/javascript" class="element-script">function setupElement129758388723096877() {
    var elementRequire = require || _wAMD.require;
    elementRequire([
        'jquery',
        'underscore',
        'backbone',
        'util/platform/elements/PlatformElement',
        'util/platform/elements/PlatformElementSettings'
    ], function(
        $,
        _,
        Backbone,
        PlatformElement,
        PlatformElementSettings
    ) {
        var dependencies = null || [];
        var platform_element_id = "694046499467037623-1.2.3";

        if (typeof _W.loadedPlatformDependencies === 'undefined') {
            _W.loadedPlatformDependencies = [];
        }

        if (typeof _W.platformElements === 'undefined') {
            _W.platformElements = [];
        }

        if (typeof _W.platformElements[platform_element_id] === 'undefined') {
            _W.platformElements[platform_element_id] = {};
            _W.platformElements[platform_element_id].deferredObject = new $.Deferred();
            _W.platformElements[platform_element_id].deferredPromise = _W.platformElements[platform_element_id].deferredObject.promise();
        }

        if(_.intersection(_W.loadedPlatformDependencies, dependencies).length !== dependencies.length){
            _.reduce(dependencies, function(promise, nextScript){
                _W.loadedPlatformDependencies.push(nextScript);
                return promise.then(function(){
                    return $.getScript(nextScript);
                });
            }, $().promise()).then(function(){
                _W.platformElements[platform_element_id].deferredObject.resolve();
            });
        }

        if (dependencies.length === 0){
            _W.platformElements[platform_element_id].deferredObject.resolve();
        }

        _W.platformElements[platform_element_id].deferredPromise.done(function(){
            var _ElementDefinition = /**
 * This is required for element rendering to be possible
 * @type {PlatformElement}
 */
(function() {
    var CallOutBox = PlatformElement.extend({
        initialize: function() { }
    });

    return CallOutBox;
})();;

            if (typeof _ElementDefinition == 'undefined' || typeof _ElementDefinition == 'null') {
                var _ElementDefinition = PlatformElement.extend({});
            }

            var _Element = _ElementDefinition.extend({
                initialize: function() {
                    // we still want to call the initialize function defined by the developer
                    // however, we don't want to call it until placeholders have been replaced
                    this.placeholderInterval = setInterval(function() {
                        // so use setInterval to check for placeholders.
                        if (this.$('.platform-element-child-placeholder').length == 0) {
                            clearInterval(this.placeholderInterval);
                            this.constructor.__super__.initialize.apply(this);
                        }
                    }.bind(this), 100);
                }
            });

            _Element.prototype.settings = new PlatformElementSettings({"vertical-padding_each":[{"vertical-padding_index":0},{"vertical-padding_index":1},{"vertical-padding_index":2},{"vertical-padding_index":3},{"vertical-padding_index":4},{"vertical-padding_index":5},{"vertical-padding_index":6},{"vertical-padding_index":7},{"vertical-padding_index":8},{"vertical-padding_index":9},{"vertical-padding_index":10},{"vertical-padding_index":11},{"vertical-padding_index":12},{"vertical-padding_index":13},{"vertical-padding_index":14},{"vertical-padding_index":15},{"vertical-padding_index":16},{"vertical-padding_index":17},{"vertical-padding_index":18},{"vertical-padding_index":19}],"horizontal-padding_each":[{"horizontal-padding_index":0},{"horizontal-padding_index":1},{"horizontal-padding_index":2},{"horizontal-padding_index":3},{"horizontal-padding_index":4},{"horizontal-padding_index":5},{"horizontal-padding_index":6},{"horizontal-padding_index":7},{"horizontal-padding_index":8},{"horizontal-padding_index":9},{"horizontal-padding_index":10},{"horizontal-padding_index":11},{"horizontal-padding_index":12},{"horizontal-padding_index":13},{"horizontal-padding_index":14},{"horizontal-padding_index":15},{"horizontal-padding_index":16},{"horizontal-padding_index":17},{"horizontal-padding_index":18},{"horizontal-padding_index":19}],"background":"#ffffff","border_color":"#E0E0E0","style":"standard","border":"none","vertical-padding":20,"horizontal-padding":20});
            _Element.prototype.settings.page_element_id = "129758388723096877";

            _Element.prototype.element_id = "d883fb9a-3c0f-4e39-8039-4918dccb19f2";
            _Element.prototype.user_id = "47199339";
            _Element.prototype.site_id = "667711997345060590";
            _Element.prototype.assets_path = "//marketplace.editmysite.com/elements/694046499467037623-1.2.3/assets/";
            new _Element({
                el: '#element-d883fb9a-3c0f-4e39-8039-4918dccb19f2'
            });
        });
    });
}

if (typeof document.documentElement.appReady == 'undefined') {
    document.documentElement.appReady = 0;
}

if (document.documentElement.appReady || (window.inEditor && window.inEditor())) {
    setupElement129758388723096877();
} else if (document.createEvent && document.addEventListener) {
    document.addEventListener('appReady', setupElement129758388723096877, false);
} else {
    document.documentElement.attachEvent('onpropertychange', function(event){
        if (event.propertyName == 'appReady') {
            setupElement129758388723096877();
        }
    });
}

</script></div></div>

<div id="548417349852928258"><div><style type="text/css">
    #element-d43f2f55-427c-4005-a3d1-e9470cdc3549 .callout-box-wrapper {
  padding: 20px 0px;
}
#element-d43f2f55-427c-4005-a3d1-e9470cdc3549 .callout-box--standard {
  border: none #E0E0E0;
  background: #ffffff;
  padding: 0px 20px;
}
#element-d43f2f55-427c-4005-a3d1-e9470cdc3549 .callout-box--material {
  border: none #E0E0E0;
  background: #ffffff;
  padding: 0px 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
#element-d43f2f55-427c-4005-a3d1-e9470cdc3549 .callout-base {
  border: none #E0E0E0;
  background: #ffffff;
  padding: 0px 20px;
}
#element-d43f2f55-427c-4005-a3d1-e9470cdc3549 .material {
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

</style><div id="element-d43f2f55-427c-4005-a3d1-e9470cdc3549" data-platform-element-id="694046499467037623-1.2.3" class="platform-element-contents">
    <div class="callout-box-wrapper">
    <div class="callout-box--standard">
        <div class="element-content">
            <div style="width: auto"><div></div><h2 class="iec-subheading>Packages</h2>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
    <table class="wsite-multicol-table">
        <tbody class="wsite-multicol-tbody">
            <tr class="wsite-multicol-tr">
                <td class="wsite-multicol-col" style="width:18.418973698914%; padding:0 15px;">



<div class="wsite-spacer" style="height:50px;"></div>



                </td>               <td class="wsite-multicol-col" style="width:67.370137848639%; padding:0 15px;">

    <p class="iec-sub-heading"> Packages </p>
    <p class="iec-text" style="text-align:center; padding-left:0px"> Our Package Pricing allows IECs to purchase Campus Owl sessions at a reduced rate by paying upfront. </p>


<!--
<div class="paragraph" style="text-align:center;"><font size="5" color="#731c9e">Our Package Pricing allows IECs to purchase Campus Owl sessions at a reduced rate by paying upfront.</font></div>
-->



                </td>               <td class="wsite-multicol-col" style="width:14.210888452447%; padding:0 15px;">



<div class="wsite-spacer" style="height:50px;"></div>



                </td>           </tr>
        </tbody>
    </table>
</div></div></div>

<div id="741518844294284573"><div><style type="text/css">
    #element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart-wrapper {
  padding: 20px 0;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #731c9e;
  border-spacing: 0;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart td.cell {
  border-right: 1px solid #731c9e;
  border-bottom: 1px solid #731c9e;
  word-break: break-word;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart td.cell div.paragraph {
  text-align: center;
  width: 90%;
  margin: 0 5%;
  padding-bottom: 10px;
  padding-top: 10px;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart td.cell {
  width: 33.333333333333%;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart tr:first-child td {
  background-color: #731c9e;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart tr:first-child td .paragraph {
  font-weight: 700;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart tr:last-of-type td {
  border-bottom: none;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart td:last-of-type {
  border-right: none;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart .price td {
  border-bottom: 0;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart .price td div.paragraph {
  font-weight: 700;
  font-size: 300%;
  padding: 0 auto;
  color: #731c9e;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart .price td div.paragraph:not(:empty)::before {
  content: '$';
  font-size: 50%;
  vertical-align: super;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart .rate td div.paragraph {
  padding-top: 0;
  margin-top: -10px;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart .buttons-bottom .element,
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart .buttons-bottom .cell > div,
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart .buttons-middle .element,
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart .buttons-middle .cell > div {
  text-align: center;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart.buttonLocation-Bottom .buttons-middle {
  display: none;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart.buttonLocation-Top .rate td,
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart.buttonLocation-Top {
  border-bottom: none;
}
#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba .price-chart.buttonLocation-Top .buttons-bottom {
  display: none;
}

</style><div id="element-3a824a2b-2510-4e08-83d6-18ff0ba807ba" data-platform-element-id="325178514791279925-1.2.4" class="platform-element-contents">
<div class="price-chart-wrapper">
    <table class="price-chart  buttonLocation-Top">
        <tbody><tr class="name">
                <td class="cell"><div class="iec-sub-heading" style="font-size:40px; color:white; font-weight:bold">Starter Pack</div></td>
                <td class="cell"><div class="iec-sub-heading" style="font-size:40px; color:white; font-weight:bold">Business Pack</div></td>
                <td class="cell"><div class="iec-sub-heading" style="font-size:40px; color:white; font-weight:bold">Enterprise Pack</div></td>
        </tr>

        <tr class="price">
                <td class="cell"><div class="paragraph" style="font-family:Dosis">139</div></td>
                <td class="cell"><div class="paragraph"><span style="font-family:Dosis; font-weight:bold"><font color="#731c9e">499</font></span></div></td>
                <td class="cell"><div class="paragraph"><span style="font-family: Dosis; font-weight:bold">1149</span></div></td>
        </tr>

        <tr class="rate">
                <td class="cell"><div class="paragraph" style="font-family:Dosis"><font size="6" color="#731c9e"><span>﻿</span><span>5 Sessions</span></font></div></td>
                <td class="cell"><div class="paragraph" style="font-family:Dosis"><font size="6" color="#731c9e"><span>20 Sessions</span></font></div></td>
                <td class="cell"><div class="paragraph" style="font-family:Dosis"><font size="6" color="#731c9e">50 Sessions</font></div></td>
        </tr>

        <tr class="buttons-middle">
                <td class="cell"><div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<button class = "btn btn-lg iec-button" style="font-family:Dosis; font-weight:bold"> BUY NOW </button>

<div style="height: 10px; overflow: hidden;"></div></div></td>
                <td class="cell"><div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<button class = "btn btn-lg iec-button" style="font-family:Dosis; font-weight:bold"> BUY NOW </button>

<div style="height: 10px; overflow: hidden;"></div></div></td>
                <td class="cell"><div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<button class = "btn btn-lg iec-button" style="font-family:Dosis; font-weight:bold"> BUY NOW </button>
<div style="height: 10px; overflow: hidden;"></div></div></td>
        </tr>

        <tr class="metric">
                <td class="cell"><div class="paragraph" style="font-family:Dosis"><font size="5" color="#731c9e">$27.80 / Session</font></div></td>
                <td class="cell"><div class="paragraph" style="font-family:Dosis"><font size="5" color="#731c9e"><span>$24.95 / Session</span></font></div></td>
                <td class="cell"><div class="paragraph" style="font-family:Dosis"><font size="5" color="#731c9e"><span>$22.98 / Session</span></font></div></td>
        </tr>

        <tr class="buttons-bottom">
                <td class="cell"></td>
                <td class="cell"></td>
                <td class="cell"></td>
        </tr>
    </tbody></table>
</div>
</div>
<div style="clear:both;"></div><script type="text/javascript" class="element-script">function setupElement741518844294284573() {
    var elementRequire = require || _wAMD.require;
    elementRequire([
        'jquery',
        'underscore',
        'backbone',
        'util/platform/elements/PlatformElement',
        'util/platform/elements/PlatformElementSettings'
    ], function(
        $,
        _,
        Backbone,
        PlatformElement,
        PlatformElementSettings
    ) {
        var dependencies = null || [];
        var platform_element_id = "325178514791279925-1.2.4";

        if (typeof _W.loadedPlatformDependencies === 'undefined') {
            _W.loadedPlatformDependencies = [];
        }

        if (typeof _W.platformElements === 'undefined') {
            _W.platformElements = [];
        }

        if (typeof _W.platformElements[platform_element_id] === 'undefined') {
            _W.platformElements[platform_element_id] = {};
            _W.platformElements[platform_element_id].deferredObject = new $.Deferred();
            _W.platformElements[platform_element_id].deferredPromise = _W.platformElements[platform_element_id].deferredObject.promise();
        }

        if(_.intersection(_W.loadedPlatformDependencies, dependencies).length !== dependencies.length){
            _.reduce(dependencies, function(promise, nextScript){
                _W.loadedPlatformDependencies.push(nextScript);
                return promise.then(function(){
                    return $.getScript(nextScript);
                });
            }, $().promise()).then(function(){
                _W.platformElements[platform_element_id].deferredObject.resolve();
            });
        }

        if (dependencies.length === 0){
            _W.platformElements[platform_element_id].deferredObject.resolve();
        }

        _W.platformElements[platform_element_id].deferredPromise.done(function(){
            var _ElementDefinition = /**
 * This is required for element rendering to be possible
 * @type {PlatformElement}
 *
 * we normalize the styles on initial load.
 */

(function() {
    var PricingTable = PlatformElement.extend({
        initialize: function() {
            // we normalize the styles after placeholders are replaced.
            this.fixStyles();
        },
        // normalizes the styles of all element children.
        fixStyles: function() {
            this.$('li.wsite-text').each(function(index, value) {
                var $value = $(value);
                var defaultText = $value.data('default-text');
                var $el = $(value).find('.editable-text');
                if ($el.text() === defaultText) {
                    $el.attr('style', '');
                }
            });

            this.$('.element').each(function(index) {
                $(this).attr('style', '');
            });
        }
    });

    return PricingTable;
})();;

            if (typeof _ElementDefinition == 'undefined' || typeof _ElementDefinition == 'null') {
                var _ElementDefinition = PlatformElement.extend({});
            }

            var _Element = _ElementDefinition.extend({
                initialize: function() {
                    // we still want to call the initialize function defined by the developer
                    // however, we don't want to call it until placeholders have been replaced
                    this.placeholderInterval = setInterval(function() {
                        // so use setInterval to check for placeholders.
                        if (this.$('.platform-element-child-placeholder').length == 0) {
                            clearInterval(this.placeholderInterval);
                            this.constructor.__super__.initialize.apply(this);
                        }
                    }.bind(this), 100);
                }
            });

            _Element.prototype.settings = new PlatformElementSettings({"plans_each":[{"plans_index":0},{"plans_index":1},{"plans_index":2}],"features_each":[{"features_index":0}],"plans":3,"features":1,"location":"Top","alignment":"center","currency":"'$'","titleColor":"#731c9e","backgroundColor":"#FFFFFF","numberColor":"#731c9e","borderColor":"#731c9e"});
            _Element.prototype.settings.page_element_id = "741518844294284573";

            _Element.prototype.element_id = "3a824a2b-2510-4e08-83d6-18ff0ba807ba";
            _Element.prototype.user_id = "47199339";
            _Element.prototype.site_id = "667711997345060590";
            _Element.prototype.assets_path = "//marketplace.editmysite.com/elements/325178514791279925-1.2.4/assets/";
            new _Element({
                el: '#element-3a824a2b-2510-4e08-83d6-18ff0ba807ba'
            });
        });
    });
}

if (typeof document.documentElement.appReady == 'undefined') {
    document.documentElement.appReady = 0;
}

if (document.documentElement.appReady || (window.inEditor && window.inEditor())) {
    setupElement741518844294284573();
} else if (document.createEvent && document.addEventListener) {
    document.addEventListener('appReady', setupElement741518844294284573, false);
} else {
    document.documentElement.attachEvent('onpropertychange', function(event){
        if (event.propertyName == 'appReady') {
            setupElement741518844294284573();
        }
    });
}

</script></div></div></div>
        </div>
    </div>
</div>
</div>
<div style="clear:both;"></div><script type="text/javascript" class="element-script">function setupElement548417349852928258() {
    var elementRequire = require || _wAMD.require;
    elementRequire([
        'jquery',
        'underscore',
        'backbone',
        'util/platform/elements/PlatformElement',
        'util/platform/elements/PlatformElementSettings'
    ], function(
        $,
        _,
        Backbone,
        PlatformElement,
        PlatformElementSettings
    ) {
        var dependencies = null || [];
        var platform_element_id = "694046499467037623-1.2.3";

        if (typeof _W.loadedPlatformDependencies === 'undefined') {
            _W.loadedPlatformDependencies = [];
        }

        if (typeof _W.platformElements === 'undefined') {
            _W.platformElements = [];
        }

        if (typeof _W.platformElements[platform_element_id] === 'undefined') {
            _W.platformElements[platform_element_id] = {};
            _W.platformElements[platform_element_id].deferredObject = new $.Deferred();
            _W.platformElements[platform_element_id].deferredPromise = _W.platformElements[platform_element_id].deferredObject.promise();
        }

        if(_.intersection(_W.loadedPlatformDependencies, dependencies).length !== dependencies.length){
            _.reduce(dependencies, function(promise, nextScript){
                _W.loadedPlatformDependencies.push(nextScript);
                return promise.then(function(){
                    return $.getScript(nextScript);
                });
            }, $().promise()).then(function(){
                _W.platformElements[platform_element_id].deferredObject.resolve();
            });
        }

        if (dependencies.length === 0){
            _W.platformElements[platform_element_id].deferredObject.resolve();
        }

        _W.platformElements[platform_element_id].deferredPromise.done(function(){
            var _ElementDefinition = /**
 * This is required for element rendering to be possible
 * @type {PlatformElement}
 */
(function() {
    var CallOutBox = PlatformElement.extend({
        initialize: function() { }
    });

    return CallOutBox;
})();;

            if (typeof _ElementDefinition == 'undefined' || typeof _ElementDefinition == 'null') {
                var _ElementDefinition = PlatformElement.extend({});
            }

            var _Element = _ElementDefinition.extend({
                initialize: function() {
                    // we still want to call the initialize function defined by the developer
                    // however, we don't want to call it until placeholders have been replaced
                    this.placeholderInterval = setInterval(function() {
                        // so use setInterval to check for placeholders.
                        if (this.$('.platform-element-child-placeholder').length == 0) {
                            clearInterval(this.placeholderInterval);
                            this.constructor.__super__.initialize.apply(this);
                        }
                    }.bind(this), 100);
                }
            });

            _Element.prototype.settings = new PlatformElementSettings({"horizontal-padding_each":[{"horizontal-padding_index":0},{"horizontal-padding_index":1},{"horizontal-padding_index":2},{"horizontal-padding_index":3},{"horizontal-padding_index":4},{"horizontal-padding_index":5},{"horizontal-padding_index":6},{"horizontal-padding_index":7},{"horizontal-padding_index":8},{"horizontal-padding_index":9},{"horizontal-padding_index":10},{"horizontal-padding_index":11},{"horizontal-padding_index":12},{"horizontal-padding_index":13},{"horizontal-padding_index":14},{"horizontal-padding_index":15},{"horizontal-padding_index":16},{"horizontal-padding_index":17},{"horizontal-padding_index":18},{"horizontal-padding_index":19}],"background":"#ffffff","border_color":"#E0E0E0","style":"standard","border":"none","vertical-padding":0,"horizontal-padding":20});
            _Element.prototype.settings.page_element_id = "548417349852928258";

            _Element.prototype.element_id = "d43f2f55-427c-4005-a3d1-e9470cdc3549";
            _Element.prototype.user_id = "47199339";
            _Element.prototype.site_id = "667711997345060590";
            _Element.prototype.assets_path = "//marketplace.editmysite.com/elements/694046499467037623-1.2.3/assets/";
            new _Element({
                el: '#element-d43f2f55-427c-4005-a3d1-e9470cdc3549'
            });
        });
    });
}

if (typeof document.documentElement.appReady == 'undefined') {
    document.documentElement.appReady = 0;
}

if (document.documentElement.appReady || (window.inEditor && window.inEditor())) {
    setupElement548417349852928258();
} else if (document.createEvent && document.addEventListener) {
    document.addEventListener('appReady', setupElement548417349852928258, false);
} else {
    document.documentElement.attachEvent('onpropertychange', function(event){
        if (event.propertyName == 'appReady') {
            setupElement548417349852928258();
        }
    });
}

</script></div></div>


<div class="container">
    <div class="page-header">
      <h1 class="header"></h1>
    </div>
    <p class="iec-sub-heading"> IEC Advisory Board </p>
    <p class="iec-text" style="padding-left:0px; text-align:center"> Our IEC Advisory Board is a group of experienced IECs who help us stay up to date with changes to college admissions so that we can continuously meet the needs of IECs.
    </p>
</div>

<br> <br>
<div class="advisors-container">
    <div class="jumbotron-home-info container-fluid">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <img class="img-responsive owl-image" width=80% src="http://www.campusowl.com/uploads/4/7/1/9/47199339/morgan-updated-headshot_1.jpg?122" />
        </div>
        <div class="col-xs-18 col-sm-9 col-md-9 col-lg-9">
            <p class="text2-heading" style="text-align:left; font-size:20px">
                <strong> Morgan Stewart </strong>
            </p>
            <p class="text2-heading" style="color:black; text-align:left; font-size:20px">
                <i> Founder, Within Reach Education </i>
            </p>
            <p style="text-align:left; font-size:20px; color:grey">
                Morgan received her B.A. from Yale University in 2002 and her M.A. in Adolescent Psychology from American University in 2007. After college, Morgan moved to Washington, DC, and built a large clientele of students who needed subject tutoring, standardized test prep, and independent college advising. She established Within Reach Educational Consultants in Washington, DC in 2007, expanded to Denver, CO, in 2008, and then to Atlanta, GA, in 2012. Morgan is a member of the Independent Educational Consultants Association (IECA) and the National Association for College Admission Counseling (NACAC).
            </p>
        </div>
    </div>

    <br> <br>

    <div class="jumbotron-home-info container-fluid">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <img class="img-responsive owl-image" width=80% src="http://www.campusowl.com/uploads/4/7/1/9/47199339/1470158747.png" />
        </div>
        <div class="col-xs-18 col-sm-9 col-md-9 col-lg-9">
            <p class="text2-heading" style="text-align:left; font-size:20px">
                <strong> Dr. Charlotte M. Klaar </strong>
            </p>
            <p class="text2-heading" style="color:black; text-align:left; font-size:20px">
                <i> Director, Klaar College Consulting LLC </i>
            </p>
            <p style="text-align:left; font-size:20px; color:grey">
                Charlotte has been an IEC for 20+ years. She began her career as Founder of College Consulting Services in Massachusetts which she sold in 2010. She moved to Maryland and began Klaar College Consulting LLC working with students throughout the Greater Washington DC region. She is now settled in Fort Mill SC but works with students nationwide via Skype. She is a member of the Independent Educational Consultants Association (IECA) and the National Association for College Admission Counseling (NACAC). Dr. Klaar was the 2016 recipient of IECA's Antonoff Award for Professional Achievement.
            </p>
        </div>
    </div>

    <br> <br>

    <div class="jumbotron-home-info container-fluid">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <img class="img-responsive owl-image" width=80% src="http://www.campusowl.com/uploads/4/7/1/9/47199339/1470288789.png" />
        </div>
        <div class="col-xs-18 col-sm-9 col-md-9 col-lg-9">
            <p class="text2-heading" style="text-align:left; font-size:20px">
                <strong> Amy Mendelson, M.Ed. </strong>
            </p>
            <p class="text2-heading" style="color:black; text-align:left; font-size:20px">
                <i> President & Founder, Competitive Edge College Counseling </i>
            </p>
            <p style="text-align:left; font-size:20px; color:grey">
                Amy's entire professional career has been spent working with high school students; first as a high school English teacher, then as a high school administrator. After graduating from the University of California, Berkeley, Amy went on to earn a Master Degree in Education from California State University Long Beach. She completed coursework at UC San Diego to earn her Certificate in College Counseling (2012) and has been a professional member of the Independent Educational Consultants Association (IECA) since 2013. She is also a member of the Western Association for College Admission Counseling (WACAC).

            </p>
        </div>
    </div>

    <br> <br>
</div>
</body>

