<head>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>

<body>
    <h1 class = "iec-sub-heading" style="color:#731c9e; font-size:70px"> <center> About Us </center> </h1>

    <div class="jumbotron-home-info container-fluid">
        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
            <br> <br>
            <p class="iec-sub-heading"> Our Mission </p>
        </div>
        <div class="col-xs-15 col-sm-8 col-md-8 col-lg-8">

            <p style="text-align:left; font-size:20px; color:#5B6064">
                <br>
                Our mission is to provide prospective college students with an honest insider's perspective into the schools they are considering. Campus Owl aims to provide high school students with the information they really want to know about college so that they can make the best decision. We know how important this decision is. But we also know that its about much more than choosing a place to study. Its about choosing a home for the next four years.

            </p>
        </div>
    </div>
    <br> <br>
    <div class="jumbotron-home-info container-fluid">
        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
            <br> <br>
            <p class="iec-sub-heading"> Our Story </p>
        </div>
        <div class="col-xs-15 col-sm-8 col-md-8 col-lg-8">

            <p style="text-align:left; font-size:20px; color:#5B6064">

                After just going through the college admissions process, we realized a problem. There was no access to honest and reliable information of what it was actually like to be a student at the schools we were considering. We came up with a solution to this problem during a business competition at Emory in October of 2015. After the competition, we hit the ground running. We participated as the only team of freshmen in Emory's Entrepreneurial Excellerator and took advantage of the school's fantastic faculty as we developed our business. As a part of our summer, we traveled to Boston and Philadelphia for the IECA and HECA conferences. In June of 2016 we brought on incoming Georgia Tech Freshman, Matt Busch, as our fourth partner.

            </p>
        </div>
    </div>
    <br> <br>
    <img style = "padding-left:20%" src = "http://www.campusowl.com/uploads/4/7/1/9/47199339/campus-owl-4.jpg?304" />
    <img style="padding-left:5%; padding-right:25%" src= "http://www.campusowl.com/uploads/4/7/1/9/47199339/campusowl-4855_1.jpg?318" />

    <br> <br> <br>
    <p style="color:#731c9e" class="iec-sub-heading"> Who We Are </p>
    <p style="font-size:40px; font-weight:normal" class="iec-sub-heading"> We Took 59 Campus Tours </p>
    <p style="font-size:40px; font-weight:normal" class="iec-sub-heading"> Without Learning Any Insider Information </p>
<div class="founder-container">
    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="jumbotron-home-info container-fluid">
            <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/screen-shot-2016-07-13-at-6-03-51-pm.png" width=100% style="border-radius:100%" />
            <p> Casey Lambert </p>
            <p style="font-size:20px; color:black"> Casey recruits some of the most fantastic college students from around the country. </p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="jumbotron-home-info container-fluid">
            <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/screen-shot-2016-07-13-at-6-01-07-pm.png" width=100% style="border-radius:100%" />
            <p> Sam Jones </p>
            <p style="font-size:20px; color:black"> Sam handles all the administrative and business operations for Campus Owl. </p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="jumbotron-home-info container-fluid">
            <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/screen-shot-2016-07-13-at-5-57-57-pm.png" width=100% style="border-radius:100%" />
            <p> Zack Schaja </p>
            <p style="font-size:20px; color:black"> Zack makes sure our Owls are ready to talk to you and helps our current IEC clients. </p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="jumbotron-home-info container-fluid">
            <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/matt-busch-copy_orig.jpg" width=100% style="border-radius:100%" />
            <p> Matt Busch </p>
            <p style="font-size:20px; color:black"> Matt manages our website, making sure your experience is the best it can be. </p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
    </div>

    <p style="color:white; font-size:40px; font-weight:normal" class="iec-sub-heading"> Without Learning Any Insider Information </p>
 </div>





</body>