
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <title> Campus Owl - Home </title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>

    <body>
            <div class="jumbotron container-fluid">
                <div class="container">

                    <div class="row">
                        <div class="col-xs-18 col-sm-12 col-md-12 col-lg-12">
                            <p class="main-title" style="font-size:70px">
                                <u> <strong> Campus Owl </strong> </u>
                            </p>
                            <p class="sub-title" style="font-size:35px">
                                Real Conversations With Real College Students
                            </p>
                            <br>
                            <center>

                                    <button class="button1 button-text" style="font-size:25px"> Find an Owl
                                    </button>

                            </center>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content">
                <div class="jumbotron-home-info container-fluid">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <img class="img-responsive owl-image" width=100% src="https://pbs.twimg.com/profile_images/756576294502961152/RCabfh9X.jpg" />
                    </div>
                    <div class="col-xs-18 col-sm-9 col-md-9 col-lg-9">
                        <p class="text2-heading" style="font-size:50px">
                            <strong> What is Campus Owl? </strong>
                        </p>
                        <p>
                            Campus Owl connects prospective college students with current college students (our Owls) at the schools in which they are interested. &nbsp;Through a 30 minute private Skype session, prospective students can speak with one of our Owls who will provide honest answers to their questions.
                        </p>
                    </div>
                </div>
            </div>
            <br> <br> <br>
            <div>
                <div class="jumbotron-home-info container-fluid">
                    <div class="col-xs-18 col-sm-9 col-md-9 col-lg-9">
                        <p style="font-size:50px">
                            <strong> Ask What You Want To Ask </strong>
                        </p>
                        <p>
                            Our Owls are not recruiters <br>
                            We are not affiliated with any schools <br>
                            Our answers will never be censored
                        </p>

                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <img class="img-responsive skype-image" width=100% src="http://www.campusowl.com/uploads/4/7/1/9/47199339/7312851_orig.png" />
                    </div>
                </div>
            </div>
            <br> <br> <br>
            <div>
                <div class="jumbotron-home-info container-fluid">
                    <p style="font-size:50px">
                        <strong> Campus Owl for IECs </strong>
                    </p>
                    <p>
                        Offer your clients access to Campus Owl's vast network of college students. Easily integrate Campus Owl into your college consulting business.
                    </p>
                    <center>
                        <button class="button-2"> Learn More </button>
                    </center>
                </div>
            </div>
            <br> <br> <br>
            <div>
                <div class="jumbotron-home-info container-fluid">
                    <p style="font-size:50px">
                        <strong> We've Been Featured In </strong>
                    </p>
                    <div class="row">
                        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
                            <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/thetablogo.png?107" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <br>
                            <a href="http://money.usnews.com/money/personal-finance/articles/2016-07-20/5-ways-to-save-on-college-visits?int=a5a109">
                                <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/homepage-logo-584x140.png?272" />
                            </a>
                        </div>
                        <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4">
                            <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/sn-logo.png?465" />
                        </div>
                        <div class="rb col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <center>
                                <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/mjfjzlse.jpeg?107" />
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <br> <br> <br>
            <div>
                <div class="jumbotron-home-info container-fluid">
                    <center>
                        <p style="font-size:50px">
                            <strong> Some of Our Schools </strong>
                        </p>
                    </center>
                    <div class="row">
                        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                            <img src = "http://www.campusowl.com/uploads/4/7/1/9/47199339/th.jpg?247" /> <br>
                            <center> <u> <strong> <p>
                                West Coast
                            </p> </strong> </u> </center>
                            Stanford University <br>
                            University of Southern California <br>
                            University of California, Berkeley <br>
                            Pepperdine University <br>
                            University of Oregon <br>
                            University of Colorado
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                            <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/messages-image-185877113.png?247" /> <br>
                            <center> <u> <strong> <p>
                                Midwest & South
                            </p> </strong> </u> </center>
                            Duke University <br>
                            Northwestern <br>
                            Emory University <br>
                            University of Michigan <br>
                            UNC at Chapel Hill <br>
                            Texas Christian University
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                            <img src="http://www.campusowl.com/uploads/4/7/1/9/47199339/rsz-1brown-campus-manning-hall.jpg" /> <br>
                            <center> <u> <strong> <p>
                                Northeast
                            </p> </strong> </u> </center>
                            Harvard University <br>
                            Middlebury College <br>
                            Cornell University <br>
                            Tufts University <br>
                            New York University <br>
                            University of Maryland
                        </div>
                    </div>
                </div>
            </div>

        <br> <br>
        <center> <strong> <p class = "acc-header" style="font-size:50px"> How it Works </p> </strong> </center>
        <button class="accordion">FIND AN OWL</button>
            <div class="panel">
                 <p>
                    <ol>
                        <li> Click on FIND AN OWL </li>
                        <li> Choose a school </li>
                        <li> Select an Owl </li>
                    </ol>
                    <button class="button-2 pull-right"> FIND AN OWL </button>
                    <br> <br>
                </p>
            </div>


        <button class="accordion">SCHEDULE AN APPOINTMENT</button>
            <div class="panel">
                <p>
                    <ol>
                        <li> Select the OWL you wish to speak with </li>
                        <li> Select a date and time for your 30 minute session using the calendar </li>
                        <li> Complete the booking form and click "Book Now" </li>
                        <li> When a new tab opens, input your billing information and click "Book Now" </li>
                    </ol>
                    <img class="img-responsive pull-right" src = http://www.campusowl.com/uploads/4/7/1/9/47199339/1448236103.png />
                    <br> <br>
                </p>
            </div>

        <button class="accordion">SKYPE</button>
            <div class="panel">
                <p>
                    <ol>
                        <li> You will receive a confirmation email </li>
                        <li> If you need to cancel or make any changes to your appointment you may do so up to 24 hours before it's scheduled start.  To do so follow the instructions on your confirmation email </li>
                        <li> Login to Skype 10 minutes prior to your scheduled starting time using the account you stated while scheduling the appointment </li>
                        <li> Your Owl will send you a Friend Request via Skype and start a video call with you at the scheduled time </li>
                        <li> If there are any technical issues please let us know ASAP by sending an email to support@campusowl.com </li>
                    </ol>
                    <a href=https://www.skype.com/en/>
                    <img class="img-responsive pull-right skype-image2" src = https://secure.skypeassets.com/i/common/images/icons/skype-logo-open-graph.png />
                    </a>
                    <br> <br> <br> <br>
                </p>
            </div>





        <br> <br>
        <center> <strong> <p class = "acc-header" style="font-size:50px"> Frequently Asked Questions </p> </strong> </center>
        <button class="accordion">WHAT IS CAMPUS LIFE?</button>
            <div class="panel">
                 <div>
                    We realize that campus life is a pretty broad term.  We use this term because sessions with our Owls can cover a wide range of topics.   Campus life includes night life, sports, housing, and dining just to name a few.

                 </div>
                 <br>
                 <div>

                        <img class="pull-left" src = http://www.campusowl.com/uploads/4/7/1/9/47199339/6314098.jpg?245 />


                        <img class="center-image1" src = http://www.campusowl.com/uploads/4/7/1/9/47199339/5473133.jpg?250 />


                        <img class = "pull-right" src = http://www.campusowl.com/uploads/4/7/1/9/47199339/3964724.jpg?248 />

                 </div>
            </div>


        <button class="accordion">WHO ARE THE OWLS?</button>
            <div class="panel">
               Owls are current students at the school you are interested in.  All owls have been selected through a rigorous application and interview process.
            </div>

        <button class="accordion">HOW MUCH DOES THIS COST?</button>
            <div class="panel">
                Each 30 minute private Skype session costs $34.99.  There is also professional pricing available for Independent Educational Consultants who wish to offer our service to their clients.
            </div>

        <button class="accordion">WHAT CAN AN OWL HELP ME WITH?</button>
            <div class="panel">
                <div>
                    Our Owls can provide insight into campus life.  This is a very broad topic so feel free to ask our Owls anything relating to their school and their college experience.
                 </div>
                 <br>
                 <div class="container-fluid">

                        <img class="pull-left" src = http://www.campusowl.com/uploads/4/7/1/9/47199339/9178792.jpg?225 />

                        <img class="center-image2" src = http://www.campusowl.com/uploads/4/7/1/9/47199339/6794122.jpg?226 />

                        <img class="pull-right" src = http://www.campusowl.com/uploads/4/7/1/9/47199339/5747676.jpg?257 />

                 </div>
            </div>
            <button class="accordion">WHAT IF I DON'T HAVE A SKYPE?</button>
                <div class="panel">
                    Currently we only offer sessions through Skype. We encourage you to create a free account.  Click <a href = https://www.skype.com/en/> here </a> to create an account.
                </div>

    <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
    </script>
</body>
