<!DOCTYPE html>
<html lang = "eng">
	<head>
		{{>head}}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
		<title>{{title}}
		</title>
	</head>
	<body>

		<div class="bodycontainer">
			{{>header}}

			<div clas = bodydiv>
				{{{body}}}
			</div>
		</div>
		{{>footer}}
	</body>
</html>